<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="pojo.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="userid_md5" property="useridMd5" jdbcType="VARCHAR" />
    <result column="client_ip" property="clientIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, datetime, userid, passwd, userid_md5, client_ip
  </sql>
  <select id="getAll" resultType="Map" parameterType="java.lang.String">
    SELECT
    *
    FROM userinfo
    WHERE userid_md5=#{userid_md5,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.UserInfo" >
    insert into userinfo (id, datetime, userid, 
      passwd, userid_md5, client_ip
      )
    values (#{id,jdbcType=INTEGER}, #{datetime,jdbcType=TIMESTAMP}, #{userid,jdbcType=VARCHAR}, 
      #{passwd,jdbcType=VARCHAR}, #{useridMd5,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.UserInfo" >
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="passwd != null" >
        passwd,
      </if>
      <if test="useridMd5 != null" >
        userid_md5,
      </if>
      <if test="clientIp != null" >
        client_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="useridMd5 != null" >
        #{useridMd5,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        #{clientIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.UserInfo" >
    update userinfo
    <set >
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="useridMd5 != null" >
        userid_md5 = #{useridMd5,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        client_ip = #{clientIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.UserInfo" >
    update userinfo
    set datetime = #{datetime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      userid_md5 = #{useridMd5,jdbcType=VARCHAR},
      client_ip = #{clientIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>