<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="pojo.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="datetime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="userid_md5" jdbcType="VARCHAR" property="useridMd5" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="qps" jdbcType="DECIMAL" property="qps" />
    <result column="response" jdbcType="INTEGER" property="response" />
    <result column="threads" jdbcType="INTEGER" property="threads" />
    <result column="error" jdbcType="DECIMAL" property="error" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="eight" jdbcType="INTEGER" property="eight" />
    <result column="min" jdbcType="INTEGER" property="min" />
    <result column="max" jdbcType="INTEGER" property="max" />
    <result column="tps" jdbcType="DECIMAL" property="tps" />
    <result column="client_ip" jdbcType="VARCHAR" property="clientIp" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, datetime, userid_md5, token, type, status, label, qps, response, threads, error, 
    count, time, eight, min, max, tps, client_ip, end_time, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.UserInfo">
    insert into record (id, datetime, userid_md5, 
      token, type, status, 
      label, qps, response, 
      threads, error, count, 
      time, eight, min, max, 
      tps, client_ip, end_time, 
      url)
    values (#{id,jdbcType=INTEGER}, #{datetime,jdbcType=TIMESTAMP}, #{useridMd5,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{label,jdbcType=VARCHAR}, #{qps,jdbcType=DECIMAL}, #{response,jdbcType=INTEGER}, 
      #{threads,jdbcType=INTEGER}, #{error,jdbcType=DECIMAL}, #{count,jdbcType=INTEGER}, 
      #{time,jdbcType=INTEGER}, #{eight,jdbcType=INTEGER}, #{min,jdbcType=INTEGER}, #{max,jdbcType=INTEGER}, 
      #{tps,jdbcType=DECIMAL}, #{clientIp,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP}, 
      #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.UserInfo">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="datetime != null">
        datetime,
      </if>
      <if test="useridMd5 != null">
        userid_md5,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="qps != null">
        qps,
      </if>
      <if test="response != null">
        response,
      </if>
      <if test="threads != null">
        threads,
      </if>
      <if test="error != null">
        error,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="eight != null">
        eight,
      </if>
      <if test="min != null">
        min,
      </if>
      <if test="max != null">
        max,
      </if>
      <if test="tps != null">
        tps,
      </if>
      <if test="clientIp != null">
        client_ip,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="useridMd5 != null">
        #{useridMd5,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="qps != null">
        #{qps,jdbcType=DECIMAL},
      </if>
      <if test="response != null">
        #{response,jdbcType=INTEGER},
      </if>
      <if test="threads != null">
        #{threads,jdbcType=INTEGER},
      </if>
      <if test="error != null">
        #{error,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
      <if test="eight != null">
        #{eight,jdbcType=INTEGER},
      </if>
      <if test="min != null">
        #{min,jdbcType=INTEGER},
      </if>
      <if test="max != null">
        #{max,jdbcType=INTEGER},
      </if>
      <if test="tps != null">
        #{tps,jdbcType=DECIMAL},
      </if>
      <if test="clientIp != null">
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.UserInfo">
    update record
    <set>
      <if test="datetime != null">
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="useridMd5 != null">
        userid_md5 = #{useridMd5,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="qps != null">
        qps = #{qps,jdbcType=DECIMAL},
      </if>
      <if test="response != null">
        response = #{response,jdbcType=INTEGER},
      </if>
      <if test="threads != null">
        threads = #{threads,jdbcType=INTEGER},
      </if>
      <if test="error != null">
        error = #{error,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="eight != null">
        eight = #{eight,jdbcType=INTEGER},
      </if>
      <if test="min != null">
        min = #{min,jdbcType=INTEGER},
      </if>
      <if test="max != null">
        max = #{max,jdbcType=INTEGER},
      </if>
      <if test="tps != null">
        tps = #{tps,jdbcType=DECIMAL},
      </if>
      <if test="clientIp != null">
        client_ip = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.UserInfo">
    update record
    set datetime = #{datetime,jdbcType=TIMESTAMP},
      userid_md5 = #{useridMd5,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      qps = #{qps,jdbcType=DECIMAL},
      response = #{response,jdbcType=INTEGER},
      threads = #{threads,jdbcType=INTEGER},
      error = #{error,jdbcType=DECIMAL},
      count = #{count,jdbcType=INTEGER},
      time = #{time,jdbcType=INTEGER},
      eight = #{eight,jdbcType=INTEGER},
      min = #{min,jdbcType=INTEGER},
      max = #{max,jdbcType=INTEGER},
      tps = #{tps,jdbcType=DECIMAL},
      client_ip = #{clientIp,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="pojo.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="datetime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="userid_md5" jdbcType="VARCHAR" property="useridMd5" />
    <result column="client_ip" jdbcType="VARCHAR" property="clientIp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, datetime, userid, passwd, userid_md5, client_ip
  </sql>
  <select id="getAll" parameterType="java.lang.String" resultType="Map">
    SELECT
    *
    FROM userinfo
    WHERE userid_md5=#{userid_md5,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.UserInfo">
    insert into userinfo (id, datetime, userid, 
      passwd, userid_md5, client_ip
      )
    values (#{id,jdbcType=INTEGER}, #{datetime,jdbcType=TIMESTAMP}, #{userid,jdbcType=VARCHAR}, 
      #{passwd,jdbcType=VARCHAR}, #{useridMd5,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.UserInfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="datetime != null">
        datetime,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="passwd != null">
        passwd,
      </if>
      <if test="useridMd5 != null">
        userid_md5,
      </if>
      <if test="clientIp != null">
        client_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="useridMd5 != null">
        #{useridMd5,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null">
        #{clientIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.UserInfo">
    update userinfo
    <set>
      <if test="datetime != null">
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="useridMd5 != null">
        userid_md5 = #{useridMd5,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null">
        client_ip = #{clientIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.UserInfo">
    update userinfo
    set datetime = #{datetime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      userid_md5 = #{useridMd5,jdbcType=VARCHAR},
      client_ip = #{clientIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>