<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.BillboardMapper" >
  <resultMap id="BaseResultMap" type="pojo.Billboard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="douban_id" property="doubanId" jdbcType="INTEGER" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="weeks" property="weeks" jdbcType="INTEGER" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, douban_id, orders, weeks, datetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from billboard
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByWeeks" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from billboard
    where weeks = #{weeks,jdbcType=INTEGER} ORDER  BY orders
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from billboard
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.Billboard" >
    insert into billboard (id, title, douban_id, 
      orders, weeks, datetime
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{doubanId,jdbcType=INTEGER}, 
      #{orders,jdbcType=INTEGER}, #{weeks,jdbcType=INTEGER}, #{datetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.Billboard" >
    insert into billboard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="doubanId != null" >
        douban_id,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="weeks != null" >
        weeks,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="doubanId != null" >
        #{doubanId,jdbcType=INTEGER},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="weeks != null" >
        #{weeks,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE orders=#{orders},weeks=#{weeks}
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Billboard" >
    update billboard
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="doubanId != null" >
        douban_id = #{doubanId,jdbcType=INTEGER},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="weeks != null" >
        weeks = #{weeks,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Billboard" >
    update billboard
    set title = #{title,jdbcType=VARCHAR},
      douban_id = #{doubanId,jdbcType=INTEGER},
      orders = #{orders,jdbcType=INTEGER},
      weeks = #{weeks,jdbcType=INTEGER},
      datetime = #{datetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>