<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.FilmInfoMapper" >
  <resultMap id="BaseResultMap" type="pojo.FilmInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="douban_id" property="douban_id" jdbcType="INTEGER" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <association property="douBanInfo" javaType="pojo.DouBanInfo" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="url" property="url" jdbcType="VARCHAR" />
      <result column="rating" property="rating" jdbcType="DECIMAL" />
      <result column="ratings_count" property="ratings_count" jdbcType="REAL" />
      <result column="country" property="country" jdbcType="VARCHAR" />
      <result column="genres" property="genres" jdbcType="VARCHAR" />
      <result column="year" property="year" jdbcType="INTEGER" />
      <result column="subject" property="subject" jdbcType="VARCHAR" />
      <result column="aka" property="aka" jdbcType="VARCHAR" />
      <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
      <result column="summary" property="summary" jdbcType="VARCHAR" />
      <result column="images" property="images" jdbcType="VARCHAR" />
      <result column="casts" property="casts" jdbcType="VARCHAR" />
      <result column="directors" property="directors" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    id, datetime, title, content, label,douban
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    *
    from film JOIN  douban on film.douban_id=douban.id where film.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getIDByDoubanID" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    id
    from film WHERE douban_id= #{douban_id,jdbcType=INTEGER}
  </select>
  <select id="getAllByDate" resultMap="BaseResultMap">
    select * from film JOIN  douban on film.douban_id=douban.id ORDER BY film.datetime DESC
  </select>
  <select id="getAllByRating" resultMap="BaseResultMap">
    select * from film JOIN  douban on film.douban_id=douban.id ORDER BY douban.rating DESC
  </select>
  <select id="getAllDateByTitle"  resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from film JOIN  douban on film.douban_id=douban.id
      where douban.subject like  CONCAT('%',#{title},'%') OR douban.aka like  CONCAT('%',#{title},'%') ORDER BY film.datetime DESC
  </select>
  <select id="getAllCount" resultType="java.lang.Integer">
    SELECT count(*) FROM film
  </select>

  <select id="getCountByLabel" resultType="java.lang.Integer">
    SELECT count(*) FROM film WHERE label=#{label,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.FilmInfo" >
    insert into film (id, datetime, title,
      content, label)
    values (#{id,jdbcType=INTEGER}, #{datetime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.FilmInfo" >
    insert into film
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="douban_id != null" >
        douban_id,
      </if>


    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin},
      </if>
      <if test="douban_id != null" >
      #{douban_id},
    </if>

    </trim>
    ON DUPLICATE KEY UPDATE
    <if test="content != null" >
     content= #{content,jdbcType=VARCHAR}
    </if>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.FilmInfo" >
    update film
    <set >
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        title  = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.FilmInfo" >
    update film
    set datetime = #{datetime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>