<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.FilmInfoMapper" >
  <resultMap id="BaseResultMap" type="pojo.FilmInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="douban_id" property="douban_id" jdbcType="INTEGER" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <!--<result column="content" property="content" jdbcType="VARCHAR" />-->
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <association property="douBanInfo" javaType="pojo.DouBanInfo">
      <result column="url" property="url" jdbcType="VARCHAR" />
      <result column="country" property="country" jdbcType="VARCHAR" />
      <result column="genres" property="genres" jdbcType="VARCHAR" />

      <result column="rating" property="rating" jdbcType="FLOAT" />
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    id, datetime, title, content, label,douban
  </sql>
  <select id="selectByPrimaryKey" resultType="pojo.FilmInfo" parameterType="java.lang.Integer" >
    select 
    *
    from film
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllByDate" resultMap="BaseResultMap">
    select * from film JOIN  douban on film.douban_id=douban.id ORDER BY film.datetime DESC
  </select>
  <select id="getAllDateByTitle"  resultType="pojo.FilmInfo" parameterType="java.lang.String" >
      select
    id,datetime,title,douban
      from film
      where title like  CONCAT('%',#{title},'%')
  </select>
  <select id="getAllCount" resultType="java.lang.Integer">
    SELECT count(*) FROM film
  </select>
  <select id="getCountByTitle" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(*) FROM film  where title like  CONCAT('%',#{title},'%')

  </select>
  <select id="getCountByLabel" resultType="java.lang.Integer">
    SELECT count(*) FROM film WHERE label=#{label,jdbcType=VARCHAR}
  </select>
  <select id="getAllDate" resultType="pojo.FilmInfo">
    SELECT id,datetime,title,douban FROM film ORDER BY datetime DESC LIMIT #{offset},#{limit}
  </select>
  <select id="getAllDateByLabel" resultType="pojo.FilmInfo">
    SELECT id,datetime,title,douban FROM film WHERE label=#{label} ORDER BY datetime DESC LIMIT #{offset},#{limit}
  </select>
  <select id="getALLRatingByLabel" resultType="pojo.FilmInfo">
    SELECT id,datetime,title,douban FROM film WHERE label=#{label} ORDER BY douban_rating DESC LIMIT #{offset},#{limit}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.FilmInfo" >
    insert into film (id, datetime, title, 
      content, label)
    values (#{id,jdbcType=INTEGER}, #{datetime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.FilmInfo" >
    insert into film
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="douban_id != null" >
        douban_id,
      </if>


    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin},
      </if>
      <if test="douban_id != null" >
      #{douban_id},
    </if>

    </trim>
    ON DUPLICATE KEY UPDATE
    <if test="content != null" >
     content= #{content,jdbcType=VARCHAR}
    </if>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.FilmInfo" >
    update film
    <set >
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.FilmInfo" >
    update film
    set datetime = #{datetime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>